In [62]:
%run web_scrape_func_def.ipynb

imports loaded.

> file management func:

    get_content(directory)
    get_last_update(file_path)

> fighters_stats_scrape func:

    get_xml(url, headers = {'User-Agent':'Moz...}) # Return web page data in .xml format.
    get_links(url)
    get_fighter_data(url) # Retrive data as dictionery
    get_fighter_data(url) # Retrive data as list
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
    get_current_date()
    get_row(soup)
    get_record(soup)
    get_name(soup)
    get_stats(soup)
    get_columns(soup)

> fights_stats_web_scrape func:

    get_event_data(soup)
    extract_fight_data(event_url)
    get_fight_columns(soup)
    get_fight_list(soup)
    get_event_date(soup)
    get_later_date(date1, date2)

# Main( )

### Extracting links:

In [2]:
links = []
for page in tqdm(ascii_letters.lower()):
    url = 'http://ufcstats.com/statistics/fighters?char=' + page + '&page=all'
    links.extend(get_links(url=url))
    
links = np.unique(links)
links[0:5]

100%|██████████| 52/52 [00:36<00:00,  1.42it/s]

array(['http://ufcstats.com/fighter-details/002ca196477ce572',
       'http://ufcstats.com/fighter-details/003d82fa384ca1d0',
       'http://ufcstats.com/fighter-details/0052de90691d4a93',
       'http://ufcstats.com/fighter-details/006efbb0c1621fd7',
       'http://ufcstats.com/fighter-details/008c6e1a25751575'],
      dtype='<U52')

In [63]:
# multiprocessing
p = multiprocessing.cpu_count() - 2

# Create a pool of worker processes.
pool = Pool(processes=p)

# Load fighter data from each link in parallel.
row = pool.map(get_fighter_data, links)

# Convert the list of arrays to a NumPy array and add it to the data set.
data = np.vstack(row)

# Print the resulting data set.
print(data[0:5])

[['Gabriel Silva' 8 2 '0' '5\'6"' '135lbs.' '71"' 'Orthodox' 'Aug26,1994'
  '1.30' '34%' '3.47' '45%' '1.50' '25%' '38%' '0.5' None None]
 ['Aalon Cruz' 8 4 '0' '6\'0"' '145lbs.' '78"' 'Switch' 'Sep20,1989'
  '7.58' '39%' '8.88' '58%' '0.00' '0%' '0%' '0.0' None None]
 ['Davi Ramos' 10 4 '0' '5\'6"' '155lbs.' '70"' 'Orthodox' 'Nov05,1986'
  '2.64' '37%' '3.44' '56%' '1.95' '40%' '83%' '0.6' None None]
 ['Tyler Hill' 8 2 '0' '6\'3"' '170lbs.' '--' 'Switch' 'Aug10,1991'
  '3.64' '39%' '5.33' '47%' '0.00' '0%' '0%' '0.0' None None]
 ['Wesley Little' 4 8 '0' '6\'4"' '205lbs.' '--' '' '--' '0.00' '0%'
  '0.00' '0%' '0.00' '0%' '0%' '0.0' None None]]

In [64]:
columns = np.array(['name','wins','losses','draws','height','weight','reach','stance','dob','slpm','str_acc','sapm','str_def','td_avg','td_acc','td_def','sub_avg','last_update','last_match'])
df = pd.DataFrame(data=data, columns=columns)
df.tail(5)

,name,wins,losses,draws,height,weight,reach,stance,dob,slpm,str_acc,sapm,str_def,td_avg,td_acc,td_def,sub_avg,last_update,last_match
3946,Quinton Jackson,37,12,0,"6'1""",205lbs.,"73""",Orthodox,"Jun20,1978",3.25,54%,2.51,55%,1.52,56%,73%,0.1,None,None
3947,Johnny Bedford,21,13,1 (1 NC),"5'10""",135lbs.,"71""",Orthodox,"Jan06,1983",4.53,50%,1.75,63%,1.83,62%,62%,0.0,None,None
3948,Jessica Rakoczy,1,5,0 (1 NC),"5'7""",115lbs.,--,Orthodox,"Apr14,1977",2.50,44%,3.55,64%,0.75,20%,0%,0.8,None,None
3949,David Onama,10,2,0,"5'11""",145lbs.,"74""",Orthodox,"Jun07,1994",5.30,45%,5.75,51%,1.06,20%,45%,0.3,None,None
3950,Dillon Smith,0,0,0,"6'0""",170lbs.,--,,--,0.00,0%,0.00,0%,0.00,0%,0%,0.0,None,None

In [65]:
loc = '../data/'
df.to_csv('../data/ufc_fighters_stats.csv', index=False)
print('../data/ufc_fighters_stats.csv saved.')

../data/ufc_fighters_stats.csv saved.

In [ ]:
>>>>

In [ ]:
# numpy array stacking
data = np.array(['name','wins','losses','draws','height','weight','reach','stance','dob','slpm','str_acc','sapm','str_def','td_avg','td_acc','td_def','sub_avg'])

for link in tqdm(links):
    try:
        data = np.stack(get_fighter_data(url=link), axis=0)
    except:
        continue
    
data[0:3]

 17%|█▋        | 4025/23706 [47:49<3:50:28,  1.42it/s]

In [ ]:
# python list appending
for link in tqdm(links):
    try:
        data.append(get_fighter_data(url=link))
    except:
        continue
    
data[0:3]

 38%|███▊      | 9062/23706 [1:43:57<2:19:02,  1.76it/s]

In [ ]:
get_fighter_data(url=links[0])

### Extracting columns structure:

In [2]:
url = 'http://ufcstats.com/statistics/fighters?char=a&page=all'
soup = get_xml(url=url)
links = get_links(soup)
columns = get_columns( get_soup(links[1]) )
print(columns)

['name', 'wins', 'losses', 'draws', 'Height:', 'Weight:', 'Reach:', 'STANCE:', 'DOB:', 'SLpM:', 'Str. Acc.:', 'SApM:', 'Str. Def:', '', 'TD Avg.:', 'TD Acc.:', 'TD Def.:', 'Sub. Avg.:']

### Construct fighters link list:

In [3]:
link_list = []
for page in tqdm(ascii_letters.lower()):
    url = 'http://ufcstats.com/statistics/fighters?char=' + page + '&page=all'
    link_list.extend(get_links(soup=get_soup(url=url)))

print('%d fighters links loaded.'%len(link_list))

100%|██████████| 52/52 [00:29<00:00,  1.73it/s]

7866 fighters links loaded.

In [4]:
data = np.array(columns)
print(data)

['name' 'wins' 'losses' 'draws' 'Height:' 'Weight:' 'Reach:' 'STANCE:'
 'DOB:' 'SLpM:' 'Str. Acc.:' 'SApM:' 'Str. Def:' '' 'TD Avg.:' 'TD Acc.:'
 'TD Def.:' 'Sub. Avg.:']

### Extracting fighters statistics to rows:

In [6]:
for fighter_link in tqdm(link_list):
    row = get_row(soup=get_soup(url=fighter_link))
    data = np.vstack([data,row])

100%|██████████| 7866/7866 [1:08:43<00:00,  1.91it/s]

In [7]:
df = pd.DataFrame(data=data, columns=data[0])
df.tail(3)

,name,wins,losses,draws,Height:,Weight:,Reach:,STANCE:,DOB:,SLpM:,Str. Acc.:,SApM:,Str. Def:,,TD Avg.:,TD Acc.:,TD Def.:,Sub. Avg.:
7864,Carlos Zevallos,3,,-0,"6' 0""",205 lbs.,--,Orthodox,--,4.36,65%,2.28,68%,,0.00,0%,100%,0.0
7865,Zach Zane,10,7,0,"5' 7""",145 lbs.,"69""",Southpaw,"Dec 14, 1989",0.87,56%,6.67,20%,,0.00,0%,26%,0.0
7866,Roger Zapata,4,,-0,"5' 11""",170 lbs.,--,Southpaw,"May 09, 1986",2.60,51%,2.13,36%,,0.00,0%,81%,1.4

### saving file